<div class="row" id={{ingredient.id}}>
  <div class="name col-md-2">{{ingredient.name}}</div>
  <div class="amount col-md-2">{{ingredient.amount}}</div>
  <div class="unit col-md-2">{{ingredient.unit}}</div>
</div>
