# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
.idea/
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.idea/libraries/bower_components_DinnerForDayz.xml
.idea/libraries/node_modules_DinnerForDayz.xml
