Name: {{input class='name' value=name}}
<br>
Ingredients: {{textarea class='ingredients' value=ingredients}}
<br>
Directions: {{textarea class='directions' value=directions}}
<br>
<button class="submit" {{action "saveForm"}}></button>
