<ul class='recipes'>
  {{#each model as |recipe|}}
  <li>
    {{#link-to 'view' recipe}}
      {{recipe.name}}
    {{/link-to}}
  </li>
  {{/each}}
</ul>

{{#link-to 'new' class='new'}}
  New Recipe
{{/link-to}}
