<ul class='recipes'>
  {{#each model as |recipe|}}
  <li>
   <div>
    {{#link-to 'view' recipe class='view'}}
      {{recipe.name}}
    {{/link-to}}
   </div>
   <div>
     {{#link-to 'edit' recipe class='edit'}}
       edit
     {{/link-to}}
   </div>
  </li>
  {{/each}}
</ul>

{{#link-to 'new' class='new'}}
  New Recipe
{{/link-to}}
