
<div class="row">
  <div class="col-md-2">Name:</div>
  <div class="name col-md-2">{{model.name}}</div>
</div>
<div class="row">
  <div class="col-md-2">Ingredients:</div>
  <div class="col-md-2">{{model.ingredients}}</div>
</div>
<div class="row">
  <div class="col-md-2">Directions:</div>
  <div class="col-md-6">{{model.directions}}</div>
</div>

{{#link-to 'edit' model}}Edit{{/link-to}}
{{#link-to 'recipes'}}back{{/link-to}}

